:root {
    cursor: url(https://i.imgur.com/oPyDnQX.png), auto;
}

@font-face {
    font-family: 'Circular Std';
    src: url('CircularStd-Medium.eot');
    src: url('CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
    	   url('CircularStd-Medium.woff2') format('woff2'),
         url('CircularStd-Medium.woff') format('woff'),
         url('CircularStd-Medium.ttf') format('truetype'),
    font-weight: 400;
    font-style: normal;
}


body {
  background: #fff;
  width: 60%;
  margin: 10vw 10vw;
}


p {
  font-family: 'Circular Std';
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 64px;
  color: black;
  text-align: left;
}

a {
  font-family: 'Circular Std';
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 64px;
  color: black;
  text-align: left;
  /*cursor: url(//s3-us-west-2.amazonaws.com/s.cdpn.io/3174/cursor.png), auto;*/
  cursor: url(https://i.imgur.com/FpHuQpd.png), auto;
}

a {text-decoration: none; color: #000;}

a:hover {
  padding-top: 3px;
  border-bottom: 4px solid ;
}


@media only screen and (max-width: 768px) {

    p {
      font-family: 'Circular Std';
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 40px;
      color: black  ;
      text-align: left;
    }

    a {
      font-family: 'Circular Std';
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      line-height: 40px;
      color: black;
      text-align: left;
    }

    body {
      background: #fff;
      width: 90%;
      margin-top: 18vh;
      margin-left: 10vw;
    }

    svg {
      -webkit-animation-name: rotate; 
      -webkit-animation-duration: 12s; 
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-name: rotate; 
      -moz-animation-duration: 12s; 
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
    }

    @-webkit-keyframes rotate {
      from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
    }

    @-moz-keyframes rotate {
      from {-moz-transform: rotate(0deg);}
      to {-moz-transform: rotate(360deg);}
    }
}


